*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #324e63;
  }
.wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: url("https://i.pinimg.com/originals/87/05/f8/8705f8b2b409649f2c041ba90c22ac2b.jpg");
    background-size: cover;
}
.profile-card{
    width: 500px;
    height: 500px;
    background: url("https://i.pinimg.com/originals/c4/a6/61/c4a661af23b9969d54cfc3b191f5a5c7.jpg");
    background-size: contain;
    background-size: 100% 100%;
    object-fit: cover;
    margin: auto;
    box-shadow: 0px 8px 60px -10px rgb(153 153 153 / 69%);
    border-radius: 50%;
}
.profile-card-img{
    width: 150px;
    height: 150px;
    margin:auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: 0px 5px 50px 0px #00b998, 0px 0px 0px 7px #ff00001a;
}
.profile-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.profile-card-info{
    text-align: center;
    color: #ffffff;
    text-shadow: -2px -1px 0px #f0f;
}
.profile-card-info>*{
    margin-bottom: 15px;
    font-weight: 900;
    color: #ffffff;
    text-shadow: -2px -1px 1px #f0f;
}
.profile-card-info .name{ 
    font-size:32px;
    font-weight:900;
    background:url("https://media1.giphy.com/media/9JwVkc9A4efEUiu6Qh/giphy.gif");
    color:transparent;
    -webkit-background-clip:text;
    background-position:center;
    background-size:cover;
    text-shadow: 0 0 8px #00b7ee;
}
.profile-card-social{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.profile-card-social .item{
    display: inline-flex;
    width: 55px;
    height: 55px;
    margin: 15px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    font-size: 21px;
    flex-shrink: 0;
    transition: all 0.3s;
}
.profile-card-social .item:hover{
    transform: scale(1.2);
}
.facebook{
    background: linear-gradient(45deg, #3b5998, #0078d7);
    box-shadow: 0px 4px 30px rgb(43 98 169 / 50%);
}
.zalo{
    background: linear-gradient(45deg, #1da1f2, #0e71c8);
    box-shadow: 0px 4px 30px rgb(19 127 212 / 70%);
}
.instagram{
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    box-shadow: 0px 4px 30px rgb(120 64 190 / 60%);
}
.github{
    background: linear-gradient(45deg, #333333, #626b73);
    box-shadow: 0px 4px 30px rgb(63 65 67 / 60%);
}
.website{
    background: linear-gradient(45deg, #d5135a, #f05924);
    box-shadow: 0px 4px 30px rgb(223 45 70 / 60%);
}
